{sub_dirs, ["include", "rel"]}.
{edoc_opts, [{preprocess, true}]}.
{require_otp_vsn, "R13B04|R14"}.
{erl_opts,[debug_info]}.
{cover_enabled, true}.
{deps, 
[
	{dates, ".*",{git, "git@github.com:nisbus/erlang-dates.git",master}},
	{measurements, ".*", {git, "git@github.com:nisbus/erlang-measurements.git", master}}
]}.
